.App {
  justify-content: center;
  height:auto;
  width:50vw;
  border:0.5px solid black;
  margin-left: 25vw;
}
.we{
  
  width:40vw;
  height:auto;
  border:0.5px solid black;
  justify-content: center;
  margin-top: 50px;
  margin-left: 5vw;
  
  
}
.as{
  margin-left: 1vw;
  margin-right: 1vw;
}
.banner{
  width:50vw;
  height:10vh;
  background-color: blue;
}
.a{
  margin-left: 20vw;
}
